<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Curious Traveler</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <div class="wrapper">
    <header>
      <img src="/images/curious-cat.png" alt="" />
      <div class = "ribbon">
        <a href="/"><img src="/images/ribbon.png" alt=" "></a>
      </div>
      <nav>
        {{#if loggedIn}}
        <a href="/dashboard">dashboard</a>
        <div class="logout-button">
        <button id="logout" class="btn-no-style">logout</button>
        </div>
        {{else}}
        <a href="/login">login</a>
        {{/if}}
      </nav>
    </header>
    <main class="container">
      {{{ body }}}
    </main>
  </div>
  
  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  {{/if}}
</body>

</html>
